{# j'extend ma base Article afin d'appeler les éléments communs à tout le site #}
{% extends 'baseArticles.html.twig' %}

{% block title %}
    Acceuil
{% endblock title %}
{# Je met mon css #}
{% block css %}<link rel="stylesheet" href="{{ asset('asset/css/style3.css') }}">{% endblock %}

{% block main %}

            {# je remplis le contenu du block main du baseArticles.html.twig par le contenu spécifique de ma page #}
            {# Mise en page particulière pour mon Titre Grâce à mon Css #}
        <div class="title">
            <div class="titlebarre"></div>
            <div class="title-page"><h1 >Articles récents</h1></div>
            <div class="titlebarre"></div>
        </div>

        <section class="articles-container">

            {# Je fais une boucle foreach qui va afficher tous les elements que ma fonction me retourne sous forme de tableau #}

            {% for articles in articles %}

                <article class="article">
                    {# Titre de l'article #}
                    <h2>{{ articles.title }}</h2>

                    <div class="article-Content">

                        {# resumé de l'article #}

                        <p>{{ articles.resume }}</p>

                        <div class="detail">

                            {# lien vers le detail de l'article sélectionner #}
                            <a href="{{ path('show_article', {id :articles.id}) }}">Détail de l'article</a>

                        </div>

                    </div>
                    {# Division vide pour juste du style avec le css #}
                    <div class="barre"></div>
                </article>

                {#  Je ferme ma boucle #}
            {% endfor %}

            {# J'ai fermé ma boucle avec endfor puis je ferme le contenu spécifique de mon main avec endblock #}
        </section>
        <div class="detail">

            {# lien vers le detail de l'article sélectionner #}
            <a href="{{ path('articles') }}">Tous nos articles</a>

        </div>

{% endblock main %}

